@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

ol,
ul,
dl {
  margin-bottom: 0;
}

body {
    font-family: 'Lora', serif;
    justify-content: center;
    line-height: 1.6;
    height: 100vh;
    font-size: 1.2rem;
    position: relative;
    background: #F9F9F9;
}

section{
    padding-top: 80px;
    height: 100vh;
}

.my-nav a{
    text-decoration: none;
}

ul{
    list-style: none;
    margin-right: 20px;
}

.my-container{
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
}

.my-navbar{
    padding: 0.5rem 0 0.5rem 0;
    background-color:rgba(24, 24, 24, 0.9);
    position: fixed;
    top:0;
    z-index: 1;
    width: 100%;
}

.my-brand{
    font-size: 1.3rem;  
    color:white;
    padding-top: 0.3rem;
}

.my-navbar .my-container{
    display: flex;
    justify-content: space-between;
    
}

.my-navbar .my-nav{
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-navbar .my-nav a{
    padding: 0 1.2rem 0 1.2rem;
}

.my-navbar .my-nav a:hover{
    background-color: oldlace;
    border-radius: 1.5rem;
}

@media(max-width:768px){
    .my-navbar .my-nav{
        display: flex;
    }
}

#home{
    margin: 2rem 0;
    height: 100vh;
}

#home img{
    border-radius: 50%;
    width: 250px;
}

#home .my-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.my-btn{
    display: inline-block;
    background-color: purple;
    color: white;
    padding: 1.2rem;
    border: none;
    border-radius: 0.9rem;
    font-size: 1.2rem;
}

.my-btn:hover{
    opacity: 0.9;
}

#about{
    background: #ededed;
    height: 100vh;
}

#about .my-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#contact .my-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.blog{
    padding-top: 80px;
}

.blog-post{
    margin: 20px 0;
    padding: 20px 0;
}

.blog ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
}

.footer{
    display: flex;
    justify-content: space-between;
    background: black;
    color:white;
    text-align: center;
    padding:2rem
}

.footer ul{
    display: flex;
    justify-self: flex-end;
    align-items: center;
    justify-content: center;
}

.footer li{
    padding: 0 30px 0 30px;
}